/* Smaller SmartPhones [325px -425px]*/
.ContactUs {
	margin-top: 70px;
	text-align: center;
}
.Contact-title {
	text-align: center;
	color: #01cb63;
	font-size: 12px;
	margin-bottom: 14px;
}
.Contact-content {
	text-align: center;
	font-size: 25px;
	line-height: 30px;
	font-weight: bold;
	text-transform: capitalize;
}
.Contact-Info-Container {
	margin-top: 50px;
	background: #f8f9fb;
	padding: 30px 10px;
}
.Contact-Info-sec1 {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 30px;
}
.Contact-icon-image {
	width: 50px;
}
.Contact-social-icon {
	width: 50px;
}
.Contact-Info-title {
	color: #201f23;
	letter-spacing: 1px;
	font-size: 22px;
	margin-bottom: 30px;
}
.Contact-Info-method {
	display: flex;
	align-items: center;
	transform: translate(-10px, 0);
}
.Contact-Info-method-last {
	margin-bottom: 20px;
}
.Contact-Info {
	color: #201f23;
	font-size: 16px;
	font-weight: bold;
	opacity: 0.8;
}

@media all and (min-width: 425px) {
	/*Big Smartphones [425px -800px]  */
	.ContactUs {
		margin-top: 80px;
	}
	.Contact-title {
		font-size: 16px;
		margin-bottom: 17px;
	}
	.Contact-content {
		font-size: 25px;
	}
	.Contact-Info-Container {
		padding: 30px 10px;
	}
	.Contact-Info-sec1 {
		width: 60%;
		margin: 0 auto;
		margin-bottom: 40px;
	}
	.Contact-Info-title {
		letter-spacing: 0.6px;
		font-size: 25px;
		margin-bottom: 35px;
	}
	.Contact-Info {
		font-size: 18px;
	}
}

@media all and (min-width: 800px) {
	/* Tablet screen [800px-1000px] */
	.ContactUs {
		margin-top: 100px;
	}
	.Contact-title {
		font-size: 18px;
		margin-bottom: 20px;
	}
	.Contact-content {
		font-size: 35px;
	}
	.Contact-Info-Container {
		padding: 60px 40px;
	}
	.Contact-Info-sec1 {
		width: 60%;
		margin: 0 auto;
		margin-bottom: 60px;
	}
	.Contact-Info-title {
		letter-spacing: 1px;
		font-size: 35px;
		margin-bottom: 35px;
	}
	.Contact-Info {
		font-size: 25px;
		padding-left: 20px;
	}
	.Contact-icon-image {
		width: 80px;
	}
	.Contact-social-icon {
		width: 70px;
	}
}

@media all and (min-width: 1000px) {
	.ContactUs {
		margin-top: 80px;
	}
	.Contact-Info-Container {
		margin-top: 80px;
		padding: 60px 20px;
		display: grid;
		grid-template-columns: 50% 50%;
	}
	.Contact-Info-sec1 {
		margin: 0 auto;
	}
	.Contact-Info-method {
		transform: translate(-17px, 0);
	}
	.Contact-Info-title {
		letter-spacing: 1px;
		font-size: 30px;
		margin-bottom: 45px;
	}
	.Contact-Info {
		font-size: 22px;
		opacity: 0.8;
	}
	.Contact-Info-method-last {
		margin-bottom: 45px;
	}
}
