/* Design for mobile view */
.detail-image {
	display: none;
}
.detail-content {
	background: #01cb63;
	padding: 40px;
}
.detail-content h1 {
	font-size: 25px;
	text-transform: capitalize;
	color: #fff;
}
.detail-content p {
	font-size: 10px;
	padding: 30px 0;
	font-style: italic;
}
.detail-button {
	background: black;
	border-radius: 8px;
	color: #fff;
	font-style: italic;
	font-size: 12px;
	padding: 10px 15px;
	width: max-content;
	cursor: pointer;
}
.detail-button:hover {
	background: #1f2532;
}
.detail-brief-parent {
	background-image: url("../data/briefImage.svg");
	padding: 40px 0;
}
.detail-brief {
	display: flex;
	flex-direction: column;
	width: max-content;
	margin: 0 auto;
	background: transparent;
}
.detail-brief div {
	margin: 20px;
}
.brief-title {
	color: #86919d;
	font-size: 18px;
	line-height: 23px;
}
.brief-num {
	width: max-content;
	font-size: 35px;
	border-bottom: 4px solid #01cb63;
}

@media all and (min-width: 425px) {
	.detail-content h1 {
		font-size: 35px;
	}
	.detail-content p {
		font-size: 20px;
	}
	.detail-button {
		font-size: 15px;
	}
	.detail-brief {
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
		width: 100%;
	}
	.brief-title {
		font-size: 14px;
	}
	.brief-num {
		font-size: 30px;
	}
}

@media all and (min-width: 800px) {
	.detail-content h1 {
		font-size: 45px;
	}
	.brief-title {
		font-size: 20px;
	}
	.brief-num {
		font-size: 35px;
	}
}

@media all and (min-width: 1000px) {
	.detail-container-grid {
		display: grid;
		grid-template-columns: 50% 50%;
		height: max-content;
	}
	.detail-image-container {
		background-image: linear-gradient(180deg, #01cb63, #00d768);
		width: 100%;
		height: 100%;
		opacity: 1;
	}
	.detail-image {
		display: unset;
		width: 100%;
		height: 100%;
		opacity: 0.6;
		filter: brightness(60%);
	}
	.detail-content h1 {
		font-size: 50px;
	}
	.detail-content p {
		font-size: 20px;
	}
	.detail-button {
		font-size: 16px;
	}
}
