.Student {
	padding: 40px 0;
}
.Student-title {
	color: #01cb63;
	font-size: 12px;
	margin-bottom: 20px;
}
.Student-content {
	font-size: 20px;
	line-height: 30px;
	font-weight: bold;
	text-transform: capitalize;
}
.Student-card-container {
	margin-top: 40px;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 30px;
}
.Student-card {
	width: 80vw;
	padding: 0 10px;
}
.Student-img {
	width: 100%;
	margin-bottom: 15px;
}
.Student-salary {
	font-weight: bold;
	font-size: 16px;
	height: 36px;
	display: flex;
	align-items: center;
}
.Student-salary p {
	margin-left: 10px;
}
.rect-icon {
	height: 100%;
}

@media all and (min-width: 425px) {
	.Student-title {
		font-size: 16px;
	}
	.Student-content {
		font-size: 25px;
	}
	.Student-card-container {
		flex-direction: row;
		flex-wrap: wrap;
	}
	.Student-card {
		width: 35vw;
	}
	.Student-salary {
		font-size: 18px;
	}
}

@media all and (min-width: 800px) {
	.Student-title {
		font-size: 18px;
	}
	.Student-content {
		font-size: 35px;
	}
}

@media all and (min-width: 1000px) {
	.Student-card {
		width: 19vw;
	}
}
